# Binaries for programs and plugins
/bin/
/data/
/local/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Standard and 3rd party lib ignored - use go tool to regenerate
/pkg/
/src/*.*/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
