# Binaries for programs and plugins
/bin/
/data/
/local/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log.json
*report.json
*.swo
*.swp
cpma
cpma.yaml

# Standard and 3rd party lib ignored - use go tool to regenerate
/src/*.*/

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log

cpma-config.yaml
