.main-div {
  margin: auto;
  margin-top: 40px;
}

.collapse-btn {
  margin-bottom: 10px;
  background-color: grey;
  border-color: grey;
}

.btn-primary:hover {
  color: #fff;
  background-color: #656464;
  border-color: #656464;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #656464;
  border-color: #656464;
}

.report-header {
  height: 100px;
  background-color: black;
  padding-top: 30px;
  padding-left: 30px;
}

.date-th:hover {
  background-color: rgba(0, 0, 0, .075);
}

.string-th:hover {
  background-color: rgba(0, 0, 0, .075);
}
