.main-div {
    margin: auto;
    margin-top: 40px;
}

.collapse-btn {
    margin-bottom: 10px;
}

.report-header {
    height: 100px;
    background-color: black;
    padding-top: 30px;
    padding-left: 30px;
}
