{{define "report-object-btn"}}
<button class="btn btn-primary collapse-btn" type="button" data-toggle="collapse" data-target="#{{.}}Collapse" aria-expanded="false" aria-controls="{{.}}Collapse">
    {{.}}
</button>
{{end}}
